<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Adicionar Temporada</title>
    </head>
    <body>
        Adicionar Série
        <form  th:action="@{/serie_added}"
               method="post">
            <!--        id automatico-->
            Nome <input type="text" value="" name="nome"> Número de temporadas <input type="number" value="" name="n_temporadas">

            <button type="submit">Adicionar</button>
        </form>
    </body>
</html>