<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Adicionar Temporada</title>
  </head>
  <body>
        Adicionar Temporadas
        <form th:action="@{/temporada_added}" method="post"> <!--        id automatico-->
            Numero <input type="number" value="" name="numero"> Número de Episódios <input type="number" value="" name="n_episodios">
            <button type="submit" >Adicionar</button>
        </form>
  </body>
  </html>