<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Episódios</title>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <link rel="stylesheet" href="style/stylecss"/>
  </head>
  <body th:each="temporada : ${temporada}">
      <header>
          <nav>
              <div class="nav-wrapper">
                  <a href="#" class="brand-logo center">Lista de Episódios da Temporada <span th:text="${temporada.numero}"></span></a>
                  <ul id="nav-mobile" class="left hide-on-med-and-down">
                      <!--                        <li><a href="sass.html">Sass</a></li>-->
                  </ul>
              </div>
          </nav>
      </header>
        <div class="container">
            <form method="post">
                Número do Episódio<input type="numbre" value="" name="numero">
                <button type="submit" class="waves-effect waves-light btn">Adicionar</button>
            </form>
        </div>
        <div class="container" th:each="episodio : ${episodios}">
            <div class="row">
                Episódio <span th:text="${episodio.numero}"></span>
            </div>
        </div>
        <!--JavaScript at end of body for optimized loading-->
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="https://codde.jquery.com/jquery-2.2.1.min.js"></script>
        <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
  </body>
</html>